.home {
    color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* ✅ จัดตรงกลาง */
    align-items: center; /* ✅ จัดให้อยู่กึ่งกลางแนวตั้ง */
    background-color: #f9f9f9; /* ✅ เพิ่มสีพื้นหลังอ่อน ๆ */
}

.home_main {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.home_details {
    width: 100%;
    max-width: 400px;
    background-color:blanchedalmond;
    border-radius: 5px;
}

.home_details_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 4px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.submit_button {
    background-color:rgb(181, 114, 114);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
}

.submit_button:hover{
    background-color:rgb(181, 155, 155);
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}
li {
    background-color: rgb(235, 191, 134);
    padding: 10px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.completed {
    text-decoration: line-through;
    color: gray;
}


/* button in todoList */
.check_button {
    background-color: rgb(70, 181, 70);
    padding: 5px 10px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
}

.check_button:hover{
    background-color: rgb(133, 213, 133);
}

.delete_button{
    background-color: rgb(245, 78, 78);
    padding: 5px 10px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
}

.delete_button:hover{
    background-color: rgb(252, 148, 148);
}

